---
import Layout from "../../components/Layout.astro";
import { storyCreator } from "../../service/story-creator";

const { id } = Astro.params;

const { user } = Astro.locals;

const story = await storyCreator.getStoryById(id as string);

if (!story) {
  return Astro.redirect("/404");
}

if (!user || user.id !== story.authorId) {
  return Astro.redirect("/");
}

const { title, content } = story;
---

<main class="container mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-4">{title}</h1>

  <p class="mb-6 italic">
    Por {user.name}

    <article
      class="bg-gray-100 p-6 shadow rounded-lg dark:bg-slate-800 dark:text-white"
    >
      {content.split("\n").map((p) => <p class="mb-4">{p}</p>)}
    </article>

    <div class="flex justify-between mt-6">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Like Button
      </button>
      <button
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
      >
        Share Button
      </button>
    </div>
  </p>
</main>
